.container-narrow

  .jumbotron
    %img{src: 'assets/img/hero550px.png', height:391, width:550}

  .row-fluid.marketing
    .span6
      %h4 Our Mission
      %p
        Celebrate Boston is a fundraising initiative in support of those affected by the events surrounding the 2013 Boston Marathon. Join us as we honor our city as a source of unity, inspiration, and postitive change in the world. Help us celebrate and keep the inspiration alive for the athletes who run our streets and the fans and loved ones who gather to cheer them on. Together we move forward.

    .span6
      %h4 What are we doing, exactly?
      %p
        We're still working on that, but we can promise it's going to be fun. Stay tuned.

      %form#mc-embedded-subscribe-form.validate{action: "http://celebrate-boston.us4.list-manage.com/subscribe/post?u=67ab1574d5bb488e98608a407&amp;id=e220433b91", method: "post", name:"mc-embedded-subscribe-form", target:"_blank", novalidate:true}
        %input#mailchimp-email{type:"email", name:"EMAIL", placeholder:"Email Address", required:true}
          .clear
        %button.btn.btn-primary{ type:"submit", value:"Subscribe", name:"subscribe"}
          Subscribe to Email Updates

      %p.muted We promise not to spam you.

.center
  .center
    .fb-like{data: {href: "http://www.celebrate-boston.org", send: true, layout: 'box_count', 'show-faces' => true }}

    %a.twitter-share-button{href: "https://twitter.com/share", data: {url: "http://celebrate-boston.org", text: "I'm ready to celebrate Boston. #BostonStrong"  , size: "medium", count: "vertical"}}
      Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

