.container-narrow

  .jumbotron
    %img{src: 'assets/img/hero550px.png', height:391, width:550}

  .row-fluid.marketing
    .span6
      %h4 Our Mission
      %p
        Celebrate Boston honors those who were killed and those whose lives were changed forever in the Boston Marathon bombings on April 15, 2013. Together We Move Forward.

    .span6
      %h4 What are we doing, exactly?
      %p
        We're still working on that, but we can promise it's going to be fun. Stay tuned.

      %form#mc-embedded-subscribe-form.validate{action: "http://celebrate-boston.us4.list-manage.com/subscribe/post?u=67ab1574d5bb488e98608a407&amp;id=e220433b91", method: "post", name:"mc-embedded-subscribe-form", target:"_blank", novalidate:true}
        %input#mailchimp-email{type:"email", name:"EMAIL", placeholder:"Email Address", required:true}
          .clear
        %button.btn.btn-primary{ type:"submit", value:"Subscribe", name:"subscribe"}
          Subscribe to Email Updates

  .footer
    .pull-left
      .fb-like{data: {href: "http://www.celebrate-boston.org", send: true, width: 450, 'show-faces' => true }}

    .pull-right
      %a.twitter-share-button{href: "https://twitter.com/share", data: {url: "http://celebrate-boston.org", text: "#BostonStrong"  , size: "large"}}
        Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');