.container-narrow

  .row-fluid
    .span6
      .pagination-centered
        %img.ribbon{src: 'assets/img/ribbon.png', width: 168, height: 303}

    .span6
      %img.logotype{src: 'assets/img/logotype.png', width: 298, height: 133}
      .banner
        Together We Move Forward

  .row-fluid.marketing
    .span6
      %h4 Our Mission
      %p
        Celebrate Boston is a fundraising initiative in support of those affected by the events surrounding the 2013 Boston Marathon. Join us to honor Boston as a source of unity, resilience, and strength. Help us celebrate and keep the inspiration alive for the athletes who run our streets and the fans and loved ones who gather to cheer them on. Together We Move Forward.

    .span6
      %h4 What are we doing, exactly?
      %p
        We're still working on that, but we can promise it's going to be fun. Stay tuned.

      %form#mc-embedded-subscribe-form.validate{action: "http://celebrate-boston.us4.list-manage.com/subscribe/post?u=67ab1574d5bb488e98608a407&amp;id=e220433b91", method: "post", name:"mc-embedded-subscribe-form", target:"_blank", novalidate:true}
        .input-append
          %input#mailchimp-email{type:"email", name:"EMAIL", placeholder:"Email Address", required:true}
          %button.btn.btn-primary{ type:"submit", value:"Subscribe", name:"subscribe"}
            Subscribe

        %p.muted We promise not to spam you.
