/*
  Blue is #955A6 and the yellow is #FFD603.
*/

@font-face {
  font-family: 'bauertopic';
  src: url('/assets/font/bauertopic-medium-webfont.eot') format('eot'),;
  src: url('/assets/font/bauertopic-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/font/bauertopic-medium-webfont.woff') format('woff'),
       url('/assets/font/bauertopic-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Non-black text */
body {
  color: #130f30;
}

.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

img.ribbon {
  -webkit-filter: drop-shadow(4px 5px 10px rgba(0,0,0,0.45));
     -moz-filter: drop-shadow(4px 5px 10px rgba(0,0,0,0.45));
      -ms-filter: drop-shadow(4px 5px 10px rgba(0,0,0,0.45));
       -o-filter: drop-shadow(4px 5px 10px rgba(0,0,0,0.45));
          filter: drop-shadow(4px 5px 10px rgba(0,0,0,0.45));
}

img.logotype {
  margin-top: 20%;
}

.banner {
  margin: 30px 30px 10px 30px; /* top right bottom left */
  background-image: url('/assets/img/banner.png') ;
  background-repeat: no-repeat;
  color: #FFD603;
  font-family: bauertopic;
  font-size: 14pt;
  letter-spacing: 0.1em;
  line-height: 31px;
  width: 226px;
  text-align: center;
}

.btn-primary {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#255694", endColorstr="#1e3e75");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#255694), to(#1e3e75));
  background-image: -moz-linear-gradient(top, #255694, #1e3e75);
  background-image: -ms-linear-gradient(top, #255694, #1e3e75);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #255694), color-stop(100%, #1e3e75));
  background-image: -webkit-linear-gradient(top, #255694, #1e3e75);
  background-image: -o-linear-gradient(top, #255694, #1e3e75);
  background-image: linear-gradient(#255694, #1e3e75);
  border-color: #1e3e75 #1e3e75 hsl(201, 100%, 25%);
  color: #FFD603 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
